{include file="index/header"/}

	<!--主界面部分-->
	<div class="mui-inner-wrap">
		<header class="mui-bar mui-bar-nav">
			<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
			<h1 class="mui-title">主页</h1>
			<a class="mui-icon mui-icon-upload mui-pull-right" href="{:url('user/logout')}"></a>
		</header>
		
		<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 主页内容 -->
				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item" href="#item1mobile" activited="activited">最新动态</a>
						<a class="mui-control-item" href="#item2mobile">他山之石</a>
					</div>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-card" style="margin-bottom: 35px;">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MzI1ODc5NTc5Nw==&mid=2247483706&idx=1&sn=dcc9329dca5e212cf85accac8db4090b&chksm=ea03f140dd747856ab912dc73f5effd750e6fb38cb006bc013e655bb465d9e38d06f97b57937&mpshare=1&scene=1&srcid=09097llL14y14S2gwnmIY89I&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-left" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;工作室招募
											<p class='mui-ellipsis'>无论你是互联网爱好者还是拥有创意的思想者</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MzI1ODc5NTc5Nw==&mid=2247483703&idx=2&sn=6d65aa87903cfabb589ef4921bee7381&chksm=ea03f14ddd74785bcffa24468032918f2cd02e96c12bb371e81466bb2210a19666ea99ec4d0a&mpshare=1&scene=1&srcid=0909zM3MCK7OfpffCTrB2s6y&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-right" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;学生干部竞聘大会圆满召开
											<p class='mui-ellipsis'>本次大会由张瑜同学主持，指导老师张露颖及工作室全体成员参加了此次会议。</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MzI1ODc5NTc5Nw==&mid=2247483703&idx=3&sn=edde92a04d416055aa45ea0957f48233&chksm=ea03f14ddd74785b7feb47adbfc2d433d2193fa1ba2f3a3badc24ccf5d80529579d604c0e009&mpshare=1&scene=1&srcid=09090J6VwtlGxPcjVtkQTE50&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-left" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;麻麻，工作室撩我（一）
											<p class='mui-ellipsis'>这期叙事向，准备好鲜花与掌声哦！</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MzIzNjA1NTIxOQ==&mid=2655675343&idx=1&sn=4ff9c591e4e1c3f43cf4a4cf301d7eab&chksm=f3637c13c414f50592f4a69440d570a7598ba657d1f8a8cd8bcba157b233214da02c4080ad2f&mpshare=1&scene=1&srcid=0909QZCNdcipYDeG1fHc0ZpI&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-right" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;喜讯 | 我校学生团队作品...
											<p class='mui-ellipsis'>由张诚，高宇挺,韩兴达，王景峰</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-card" style="margin-bottom: 35px;">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MjAzNzMzNTkyMQ==&mid=2653765204&idx=3&sn=34340d6175de7f7685ce1899887fdfbb&chksm=4a892e4a7dfea75ce3eb7c3963cc17c00307c53e8d88a6fcb8e319140d635fce0b6b00622b6f&mpshare=1&scene=1&srcid=0911NYGFUYo29WJp6bBoguYM&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-right" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;马化腾：腾讯也有烦恼，也会被排斥
											<p class='mui-ellipsis'>“我大概只听懂不到30%，感觉就是不明觉厉，所以是很厉害，”</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MjAzNzMzNTkyMQ==&mid=2653765204&idx=2&sn=1e1571dafd031e3fc2614f61e0031b93&chksm=4a892e4a7dfea75ca92298ae438e2e7c3f0e332658201730eb8e21989b08e6697f4a4bc7df87&mpshare=1&scene=1&srcid=0911xdP40Nq2ZDjuyzNqivdj&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-left" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;探索微信社交和内容边界
											<p class='mui-ellipsis'>这是微信公号新世相推出的一款线上活动“48小时交换”。</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MjM5ODY4NzQ4MQ==&mid=2651633555&idx=1&sn=ef101971014f65a662a864a0e88ddb02&chksm=bd3ef0058a49791311159823ef871a01e16b706f9bb963891c9448eb5033b6b2b17a61c1ea39&mpshare=1&scene=1&srcid=09118HpjLzlk44F8OILI2G9t&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-right" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;媚俗的创业者
											<p class='mui-ellipsis'>很早以前，创业者们喜欢给员工画大饼，谈情怀</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="https://mp.weixin.qq.com/s?__biz=MjAzNzMzNTkyMQ==&mid=2653765204&idx=4&sn=91f960f74db8cd0dfbd8a8559c9ede00&chksm=4a892e4a7dfea75c04f06a003548b58b27b1e041872db21b6163ce43f8678871ce941798a0d2&mpshare=1&scene=1&srcid=0911DCOyzRuXBZ61XKIXW6na&pass_ticket=JSbB6Fgjx8yhSMFAcZcuYSXp13V%2Ba3PzehQbkF3wzqfWWjeX4oSjZoMn7%2Fn9dm%2FN#rd">
										<img class="mui-media-object mui-pull-left" src="__STATIC__/img/title.jpg">
										<div class="mui-media-body">
											&nbsp;&nbsp;&nbsp;&nbsp;阿里18周年年会，马云化身迈克尔·杰克逊登台
											<p class='mui-ellipsis'>说的就是今天阿里巴巴举办的18周年年会！</p>
										</div>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="mui-card ">
					<div class="mui-card-header">学习通知</div>
					<div class="mui-card-content " >
						<div class="mui-card-content-inner">
							请尽快加入<a href="https://github.com/orgs/dxstudio/">工作室github</a>并提交自己的网站
						</div>
					</div>
					<div class="mui-card-footer">
						<a class="mui-card-link">回复</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- off-canvas backdrop -->
		<div class="mui-off-canvas-backdrop"></div>

	</div>

</div>

{include file="index/footer" /}