<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

  table,h1{
    text-align:center;
    }

</style>
</head>
<body>
<h1 >点心网络文化工作室应聘表(ID:$id)</h1>
<table border="1" cellpadding="8">
  <tr>
    <th>姓名</th>
    <th>$name</th>
    <th>性别</th>
    <th>$sex</th>
    <th>民族</th>
    <th>$nation</th>
  </tr>
  <tr>
    <td>学院专业</td>
    <td colspan="5">{$academy}学院&nbsp;&nbsp;{$grade}级&nbsp;{$major}&nbsp;{$class}班</td>
  </tr>
  <tr>
    <td>学号</td>
    <td colspan="2">$schoolID</td>
    <td>爱好</td>
    <td colspan="2">$hobby</td>
  </tr>
   <tr>
    <td>政治面貌</td>
    <td>$politicalStatus</td>
    <td>技术特长</td>
    <td colspan="3">$speciality</td>
  </tr>
   <tr>
    <td>QQ</td>
    <td colspan="2">$qq</td>
    <td>联系电话</td>
    <td colspan="2">$phone</td>
  </tr>
  <tr>
    <td>应聘职务</td>
    <td>志愿1：</td>
    <td colspan="2">志愿2:</td>
    <td colspan="2">志愿3:</td>
  </tr>
  <tr>
    <td rowspan="5">&nbsp;<br>&nbsp;<br>自<br>我<br>简<br>介</td>
    <td rowspan="5" colspan="5">$selfIntroduction</td>
  </tr>
  <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>

  <tr>
    <td colspan="3">辅导员意见</td>
    <td colspan="3">所在学院意见</td>
  </tr>
  <tr>
    <td colspan="3" rowspan="5"></td>
    <td colspan="3" rowspan="5"></td>
  </tr>
  <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>
   <tr>
    <td></td>
  </tr>
</table>
<h5>应聘须知：</h5>
<ol>
<li>XXX</li>
<li>XXX</li>
</ol>
</body>
</html>